*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.DS_Store
*.resharper
*.tmp
*.ncrunch*
*.orig
*.vspscc
*.vssscc
*.scc
*.sqlsuo
*.generated.*
!*.generated.cs

.idea
.vs/
.vscode/
.project

[Oo]bj
[Bb]in
[Dd]ebug*
![Dd]ebugTextWriter*
[Oo]ut
[Tt]humbs.db
[Pp]ackages/
_ReSharper.*
Ankh.NoLoad
setup.exe
_UpgradeReport_Files/
UpgradeLog.XML
TestResult.xml
TestResults/
NuGet.exe
builds/
_NCrunch*
artifacts/
data/

# Thumbnails
._*

# Logs
log-*.txt
*.log
